<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>About Page</h1>
  <img src="/ididmybest.gif" alt="About GIF">
  <p>This is the about page of the API</p>
</body>
</html>
