* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #007bff;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #777;
}
img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 20px;
   text-align: center;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
label {
    font-weight: bold;
}
p {
    margin-bottom: 20px;
    text-align: center;
}